In [1]:
dict1 = {}

In [2]:
print(dict1)
print(type(dict1))

{}
<class 'dict'>

In [3]:
DaysInMonths = {"January" : 31, "February" : 28, "March" : 31,"April" : 30}
print(DaysInMonths)
print(type(DaysInMonths))

{'January': 31, 'February': 28, 'March': 31, 'April': 30}
<class 'dict'>

In [4]:
BirdCount = {"Finch" : 10, "Myna" : 13,"Hornbill" : 15, "Peacock" : 15}

In [5]:
print(BirdCount)

{'Finch': 10, 'Myna': 13, 'Hornbill': 15, 'Peacock': 15}

In [6]:
#wap to read roll numbers and marks of four students and create a dictionary from it having roll numbers as keys.

rno = []
mks = []

for a in range(4):
    r = eval(input("Enter Roll no :"))
    m = eval(input("Enter Marks :"))
    rno.append(r)
    mks.append(m)
#     print(rno)
#     print(mks)
d = {rno[0]:mks[0], rno[1]:mks[1], rno[2]:mks[2], rno[3]:mks[3]}
print("Created Dictionary  ",d)

Enter Roll no :1
Enter Marks :15
Enter Roll no :2
Enter Marks :12
Enter Roll no :3
Enter Marks :55
Enter Roll no :4
Enter Marks :51
Created Dictionary   {1: 15, 2: 12, 3: 55, 4: 51}

In [7]:
d = {"vowel1" : "a","vowel2" : "e", "vowel3": "i","vowel4":"o","vowel5":"u"}
print(d)

{'vowel1': 'a', 'vowel2': 'e', 'vowel3': 'i', 'vowel4': 'o', 'vowel5': 'u'}

In [8]:
d

{'vowel1': 'a', 'vowel2': 'e', 'vowel3': 'i', 'vowel4': 'o', 'vowel5': 'u'}

In [9]:
d["vowel2"]

'e'

In [10]:
d['vowel1']

'a'

In [11]:
# Q13.2 Consider the dictionary created in the previous program.
# Modify the  previous program to check if the roll number 2 has scored more than 75 marks?
rno = []
mks = []

for a in range(4):
    r = eval(input("Enter Roll no :"))
    m = eval(input("Enter Marks :"))
    rno.append(r)
    mks.append(m)
#     print(rno)
#     print(mks)
d = {rno[0]:mks[0], rno[1]:mks[1], rno[2]:mks[2], rno[3]:mks[3]}
print("Created Dictionary  ",d)

if d[2] > 75:
    print("Roll number 2 scored", d[2], "(>75)")
else:
    print("Roll number 2 scored", d[2], "(<75)")

Enter Roll no :1
Enter Marks :20
Enter Roll no :2
Enter Marks :55
Enter Roll no :3
Enter Marks :40
Enter Roll no :4
Enter Marks :18
Created Dictionary   {1: 20, 2: 55, 3: 40, 4: 18}
Roll number 2 scored 55 (<75)

In [12]:
d1 = { 5 : "number",\
     "a" : "string",\
     (1,2) : "tuple"}

In [13]:
d1

{5: 'number', 'a': 'string', (1, 2): 'tuple'}

In [14]:
for key in d1:
    print(key, ":",d1[key])

5 : number
a : string
(1, 2) : tuple

In [15]:
#wap to create a phone dictionary for all your friends and print each key value pair in separate lines.

PhoneDict = {"Madhav" : 1234567, "Steven" : 7654321, " Dilpreet" : 6734521,
            "Rabiya" : 4563217, "Murughan" : 3241567, "Sampree" : 4673215}

In [16]:
print(PhoneDict)

{'Madhav': 1234567, 'Steven': 7654321, ' Dilpreet': 6734521, 'Rabiya': 4563217, 'Murughan': 3241567, 'Sampree': 4673215}

In [17]:
for name in PhoneDict : 
    print(name, ":",PhoneDict[name])

Madhav : 1234567
Steven : 7654321
 Dilpreet : 6734521
Rabiya : 4563217
Murughan : 3241567
Sampree : 4673215

In [18]:
Employee1 = dict(name = 'John', salary = 10000, age = 24)

In [19]:
print(Employee1)

{'name': 'John', 'salary': 10000, 'age': 24}

In [20]:
Employee2 = dict({'name' : 'John','salary' : 1000, 'age': 24})

In [21]:
Employee2

{'name': 'John', 'salary': 1000, 'age': 24}

In [22]:
Employee3 = dict(zip(('name','salary','age'),('John',1000,24)))
print(Employee3)

{'name': 'John', 'salary': 1000, 'age': 24}

In [23]:
Employee = dict([['name','Johri'],['salary',1000],['age',24]])

In [24]:
Employee

{'name': 'Johri', 'salary': 1000, 'age': 24}

In [25]:
Emp12 = dict((['name','John'],['salary',1000],['age',24]))
Emp12

{'name': 'John', 'salary': 1000, 'age': 24}

In [26]:
Emp13 = dict((('name','John'),('salary',1000),('age',24)))

In [27]:
Emp13

{'name': 'John', 'salary': 1000, 'age': 24}

In [28]:
#wap to create a dictionary namely Numericals from following two lists.

keys = ['One','Two','Three']
values = [1,2,3]
Numericals = dict(zip(keys,values))

In [29]:
Numericals

{'One': 1, 'Two': 2, 'Three': 3}

In [30]:
Employee = {'name' : 'John','salary': 10000,'age': 24}
Employee['dept'] = 'Sales'

In [31]:
print(Employee)

{'name': 'John', 'salary': 10000, 'age': 24, 'dept': 'Sales'}

In [32]:
#wap to add new students 'roll numbers' and marks in the dictionary 
# M created with roll numbers as the keys and marks as the values.

M = {}
n = int(input("How many students"))
for a in range(n):
    r,m = eval(input("Enter Roll No. , Marks :"))
    M[r] = m
    print("Created dictionary")
    print(M)
    ans = 'y'
    while ans == 'y':
        print("Enter details of the new studens")
        r,m = eval(input("Roll No. , Marks : "))
        M[r] = m
        ans = input("More students ? (y/n) :")
    print("Dictionary after adding new students")
    print(M)

How many students1
Enter Roll No. , Marks :1,25
Created dictionary
{1: 25}
Enter details of the new studens
Roll No. , Marks : 2,35
More students ? (y/n) :n
Dictionary after adding new students
{1: 25, 2: 35}

In [33]:
# Q

Employees = {'John' : {'age' : 25,'salary':2000},'Diya' : {'age' : 35,'salary' : 5000}}
for key in Employees: 
    print("Employees",key,':')
    print('Age :',str(Employees[key]['age']))
    print('Salary :',str(Employees[key]['salary']))

Employees John :
Age : 25
Salary : 2000
Employees Diya :
Age : 35
Salary : 5000

In [34]:
# Updating/Modifying Existing element in a Dictionary
Employee = {'name': 'John','salary':10000,'age': 24}
Employee['salary'] = 20000
Employee

{'name': 'John', 'salary': 20000, 'age': 24}

In [35]:
emp1= {'salary' : 1000,'age': 24,'name': 'John'}
print(emp1)

{'salary': 1000, 'age': 24, 'name': 'John'}

In [36]:
'age' in emp1

True

In [37]:
'name' in emp1

True

In [38]:
'John' in emp1

False

In [39]:
'salary' in emp1

True

In [40]:
'John' not in emp1

True

In [41]:
text = "This is a sample string"
words = text.split()

In [42]:
print(words)

['This', 'is', 'a', 'sample', 'string']

In [43]:
text = "one,two,three"
words = text.split(",")

In [44]:
print(words)

['one', 'two', 'three']

In [45]:
#program to count the frequency of a listof elements using a dictionary.

import json
sentence = "This is a super idea This \
idea will change the idea of learning"

words = sentence.split()
d = {}
for one in words:
    key = one
    if key not in d:
        count = words.count(key)
        d[key] = count
    print("Counting frequencies in list \n",words)
    print(json.dumps(d,indent = 1))

Counting frequencies in list
 ['This', 'is', 'a', 'super', 'idea', 'This', 'idea', 'will', 'change', 'the', 'idea', 'of', 'learning']
{
 "This": 2
}
Counting frequencies in list
 ['This', 'is', 'a', 'super', 'idea', 'This', 'idea', 'will', 'change', 'the', 'idea', 'of', 'learning']
{
 "This": 2,
 "is": 1
}
Counting frequencies in list
 ['This', 'is', 'a', 'super', 'idea', 'This', 'idea', 'will', 'change', 'the', 'idea', 'of', 'learning']
{
 "This": 2,
 "is": 1,
 "a": 1
}
Counting frequencies in list
 ['This', 'is', 'a', 'super', 'idea', 'This', 'idea', 'will', 'change', 'the', 'idea', 'of', 'learning']
{
 "This": 2,
 "is": 1,
 "a": 1,
 "super": 1
}
Counting frequencies in list
 ['This', 'is', 'a', 'super', 'idea', 'This', 'idea', 'will', 'change', 'the', 'idea', 'of', 'learning']
{
 "This": 2,
 "is": 1,
 "a": 1,
 "super": 1,
 "idea": 3
}
Counting frequencies in list
 ['This', 'is', 'a', 'super', 'idea', 'This', 'idea', 'will', 'change', 'the', 'idea', 'of', 'learning']
{
 "This": 2,
 "is": 1,
 "a": 1,
 "super": 1,
 "idea": 3
}
Counting frequencies in list
 ['This', 'is', 'a', 'super', 'idea', 'This', 'idea', 'will', 'change', 'the', 'idea', 'of', 'learning']
{
 "This": 2,
 "is": 1,
 "a": 1,
 "super": 1,
 "idea": 3
}
Counting frequencies in list
 ['This', 'is', 'a', 'super', 'idea', 'This', 'idea', 'will', 'change', 'the', 'idea', 'of', 'learning']
{
 "This": 2,
 "is": 1,
 "a": 1,
 "super": 1,
 "idea": 3,
 "will": 1
}
Counting frequencies in list
 ['This', 'is', 'a', 'super', 'idea', 'This', 'idea', 'will', 'change', 'the', 'idea', 'of', 'learning']
{
 "This": 2,
 "is": 1,
 "a": 1,
 "super": 1,
 "idea": 3,
 "will": 1,
 "change": 1
}
Counting frequencies in list
 ['This', 'is', 'a', 'super', 'idea', 'This', 'idea', 'will', 'change', 'the', 'idea', 'of', 'learning']
{
 "This": 2,
 "is": 1,
 "a": 1,
 "super": 1,
 "idea": 3,
 "will": 1,
 "change": 1,
 "the": 1
}
Counting frequencies in list
 ['This', 'is', 'a', 'super', 'idea', 'This', 'idea', 'will', 'change', 'the', 'idea', 'of', 'learning']
{
 "This": 2,
 "is": 1,
 "a": 1,
 "super": 1,
 "idea": 3,
 "will": 1,
 "change": 1,
 "the": 1
}
Counting frequencies in list
 ['This', 'is', 'a', 'super', 'idea', 'This', 'idea', 'will', 'change', 'the', 'idea', 'of', 'learning']
{
 "This": 2,
 "is": 1,
 "a": 1,
 "super": 1,
 "idea": 3,
 "will": 1,
 "change": 1,
 "the": 1,
 "of": 1
}
Counting frequencies in list
 ['This', 'is', 'a', 'super', 'idea', 'This', 'idea', 'will', 'change', 'the', 'idea', 'of', 'learning']
{
 "This": 2,
 "is": 1,
 "a": 1,
 "super": 1,
 "idea": 3,
 "will": 1,
 "change": 1,
 "the": 1,
 "of": 1,
 "learning": 1
}

In [46]:
#Accesing items, key, values - get(), items(), keys(), values()

print(emp1)

{'salary': 1000, 'age': 24, 'name': 'John'}

In [47]:
emp1.get('name')

'John'

In [48]:
emp1['dept'] = 'sales'

In [49]:
emp1

{'salary': 1000, 'age': 24, 'name': 'John', 'dept': 'sales'}

In [50]:
emp1.items()

dict_items([('salary', 1000), ('age', 24), ('name', 'John'), ('dept', 'sales')])

In [51]:
# keys - to get all the keys of dictionary
emp1.keys()

dict_keys(['salary', 'age', 'name', 'dept'])

In [52]:
#values - to get all the values of dictionary
emp1.values()

dict_values([1000, 24, 'John', 'sales'])

In [53]:
# Q. 13.13

S = {11: 'siya', 22: 'Ruby', 26: 'keth',31: 'Preet',32:'Huma'}
S

{11: 'siya', 22: 'Ruby', 26: 'keth', 31: 'Preet', 32: 'Huma'}

In [54]:
S.keys()

dict_keys([11, 22, 26, 31, 32])

In [55]:
S.values()

dict_values(['siya', 'Ruby', 'keth', 'Preet', 'Huma'])

In [56]:
L = []
n =int(input("How many students?"))
for a in range(n):
    r = int(input("Enter Roll no"))
    L.append(r)
S = dict.fromkeys(L,2500)
print("Created dictionary")
print(S)

How many students?1
Enter Roll no1
Created dictionary
{1: 2500}

In [57]:
#Creating Dictionary from keys - the fromkeys() Method

nd = dict.fromkeys([2,4,6,8],100)
print(nd)

{2: 100, 4: 100, 6: 100, 8: 100}

In [58]:
nd1 = dict.fromkeys((3,4,5))

In [59]:
print(nd1)

{3: None, 4: None, 5: None}

In [60]:
nd1 = dict.fromkeys((3,4,5),(6,7,8))
print(nd1)

{3: (6, 7, 8), 4: (6, 7, 8), 5: (6, 7, 8)}

In [61]:
# The setdefault() method

Marks = {1:350,2:423,3:411,4:300}
print(Marks)

{1: 350, 2: 423, 3: 411, 4: 300}

In [62]:
Marks.setdefault(5,320)
Marks

{1: 350, 2: 423, 3: 411, 4: 300, 5: 320}

In [63]:
Marks.setdefault(5,340)

320

In [64]:
Marks

{1: 350, 2: 423, 3: 411, 4: 300, 5: 320}

In [65]:
Marks.setdefault(6)

In [66]:
Marks

{1: 350, 2: 423, 3: 411, 4: 300, 5: 320, 6: None}

In [67]:
#wap to create a dictionary with 10 keys to 0.9

new_dict = {}
for i in range(10):
    new_dict.setdefault(i)
print(new_dict)

{0: None, 1: None, 2: None, 3: None, 4: None, 5: None, 6: None, 7: None, 8: None, 9: None}

In [68]:
stu = {1: 'Ana',2 : 'Neha', 3: 'Avnit', 4: 'Saima'}

In [69]:
stu

{1: 'Ana', 2: 'Neha', 3: 'Avnit', 4: 'Saima'}

In [70]:
stu.pop(4)

'Saima'

In [71]:
stu

{1: 'Ana', 2: 'Neha', 3: 'Avnit'}

In [72]:
stu.pop(8)

KeyError: 8

In [ ]:
stu.pop(6,"Not here")

In [ ]:
stu

In [ ]:
stu.pop(6,-1)

In [ ]:
#The popitem()
# <dict>.popitem()

stu.popitem()

In [ ]:
stu

In [ ]:
# wap to delete the keys of a dictionary,one by one in lIFO order.

Stu = {1:'Neha',2:'Saima',3:'Avnit',4:'Ana',5:'Shaji'}
while len(Stu) >= 1:
    print("Element deleted : ",Stu.popitem())
    print("All elements of the dictionary got deleted in LIFO order")

# Get Sorted List of keys - the sorted() Functions

In [ ]:
Stu = {41: 'Neha',12:'saima',32: 'Avnit',24:'Ana',15:'Shaji'}

# using the sorted functions

In [ ]:
Lst = sorted(Stu)
Lst
print(Lst)

In [ ]:
Stu

In [ ]:
Stu1 = {41:'Neha',32:'Ana',21:'Niha'}
Stu1

In [ ]:
sorted(Stu1,reverse = True)

In [ ]:
sorted_keys1 = sorted(Stu)
sorted_keys2 = sorted(Stu.keys())

In [ ]:
print(sorted_keys1)

In [ ]:
print(sorted_keys2)

In [ ]:
Stu.values()

In [ ]:
Stu

In [ ]:
sorted_values = sorted(Stu.values())
print(sorted_values)

In [ ]:
sorted_dict_list = sorted(Stu.items())
sorted_dict_list

In [ ]:
Stu.items()

In [ ]:
sorted(Stu.items())

# For the sorted() function to work all the keys should be homogenous

In [ ]:

d1 = {(1,2):"one",(3,4):"Two"}
d1

In [ ]:
sorted(d1)

In [ ]:
d2 = {"Green" : 20, "white" : 10,"Gray":35}

In [ ]:
d2

In [ ]:
sorted(d2)

# Calculating Maximum, Minimum and Sum

In [85]:
d1 = {(1,2):'One',(3,4):'Two'}

In [86]:
d3 = {'GreenHouse': 20,'BlueHouse':30,'GrayHouse': 35}

In [87]:
print(d1)

{(1, 2): 'One', (3, 4): 'Two'}

In [88]:
print(d3)

{'GreenHouse': 20, 'BlueHouse': 30, 'GrayHouse': 35}

In [89]:
d4 = {41:'N',12:'S',32:'A',24:'C'}

In [90]:
print(d4)

{41: 'N', 12: 'S', 32: 'A', 24: 'C'}

In [91]:
d5 = {1.5:'N',3.5:'S',3.2:'A',2.4:'C'}

In [92]:
d5

{1.5: 'N', 3.5: 'S', 3.2: 'A', 2.4: 'C'}

In [93]:
min(d1),min(d3),min(d4),min(d5)

((1, 2), 'BlueHouse', 12, 1.5)

In [96]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [95]:
sum(d4),sum(d5)

(109, 10.6)

# consider the following code fragments.What output will they produce?

In [103]:
aDict = {'Bhavna':1,"Richard":2,"Firoza":10,"Arshnoor":20}
temp = 0
for value in aDict.values():
    temp = temp+ value
print(temp)

33

In [104]:
aDict = {'Bhavna':1,"Richard":2,"Firoza":10,"Arshnoor":20}
temp="    "
for key in aDict:
    if temp < key:
        temp = key
print(temp)

Richard

In [106]:
aDict = {'Bhavna':1,"Richard":2,"Firoza":10,"Arshnoor":20}
k = "Bhavna"
v = -1
if k in aDict:
    aDict[k] = v
print(aDict)

{'Bhavna': -1, 'Richard': 2, 'Firoza': 10, 'Arshnoor': 20}