In [1]:
t = (1)

In [2]:
t

1

In [3]:
t = 3,

In [4]:
t

(3,)

In [5]:
t2 = (4,)

In [6]:
t2

(4,)

In [12]:
t1 = (1,2,(3,4))

In [13]:
t1

(1, 2, (3, 4))

In [16]:
t3 = tuple('hello')
t3

('h', 'e', 'l', 'l', 'o')

In [17]:
L = ['w','e','r','t','y']

In [19]:
t2 = tuple(L)
t2

('w', 'e', 'r', 't', 'y')

In [21]:
k = eval(input("Enter tuple to be added:"))
print("Tupele you entered ",k)

Enter tuple to be added:(2,4,"a","hjkl",[3,4])
Tupele you entered  (2, 4, 'a', 'hjkl', [3, 4])

In [27]:
k[4]

[3, 4]

In [36]:
T = ('P','y','t','h','o','n')
for a in T:
    print(a)

P
y
t
h
o
n

In [38]:
tp1 = (1,3,5)
tp2 = (6,7,8)
tp1 + tp2

(1, 3, 5, 6, 7, 8)

In [40]:
t = (1,2,'A','B')
w,x,y,z = t

In [41]:
w

1

In [42]:
x

2

In [43]:
z

'B'

In [44]:
y

'A'

In [47]:
#what would be the output of the following code

ntpl = ("Hello","Nita","How's","life?")

In [48]:
(a,b,c,d) = ntpl

In [49]:
print("a is :",a)

a is : Hello

In [50]:
print("b is :",b)

b is : Nita

In [51]:
print("c is :",c)

c is : How's

In [53]:
print("d is :",d)

d is : life?

In [55]:
ntpl = (a,b,c,d)
print(ntpl[0][0] + ntpl[1][1],ntpl[1] )

Hi Nita

In [57]:
ntpl[0][0]

'H'

In [59]:
ntpl[1][1]

'i'

In [60]:
ntpl[1]

'Nita'

In [61]:
#slicing

tpl = (10,12,14,20,22,24,30,32,34)

In [62]:
tpl[3:30]

(20, 22, 24, 30, 32, 34)

In [63]:
tpl[0:10:2]

(10, 14, 22, 30, 34)

In [64]:
tpl[2:10:3]

(14, 24, 34)

In [65]:
tpl[::3]

(10, 20, 30)

In [68]:
Tp = (2,4,5,7,8,9,11,12,34)
Tp[2:5]

(5, 7, 8)

In [69]:
Tp[2:5]*3

(5, 7, 8, 5, 7, 8, 5, 7, 8)

In [70]:
Tp[2:5]+(3,4)

(5, 7, 8, 3, 4)

In [71]:
max(Tp)

34

In [75]:
tp12 = ("Karan","Zubin","Zara","Ana")

In [76]:
max(tp12)

'Zubin'

In [77]:
ab = (1,2.5,"1",[3,4],(3,4))

In [78]:
max(ab)

TypeError: '>' not supported between instances of 'str' and 'float'

In [80]:
val = (27,34,35,40)
sum(val)

136

In [81]:
t1 = [3,4,5,6.0]
t1.index(5)

2

In [1]:
#wap to print the index of the minimum element of the tuple

tup = eval(input("Enter a tuple :"))
mn = min(tup)
print("minimum element is ",mn,\
     "is at index ",tup.index(mn))

Enter a tuple :23,22,11,9,10,15
minimum element is  9 is at index  3

In [10]:
#wap to input a tuple and check if it contains the all element as same

tup = eval(input("Enter a tuple :"))
ln = len(tup)
print(ln)
num = tup.count(tup[0])
if num == ln:
    print("Tuple contains all the same elements")
else:
    print("Tuple contains different elements")

Enter a tuple :23,22,11,9,10,15
6
Tuple contains different elements

In [14]:
tup = eval(input("Enter a tuple :"))
num = tup.count(tup[0])
print(num)

Enter a tuple :23,22,11,9,10,15
1